.img-slider{
  width: 300px;
  height: 300px;
}
div.galeria-slider{
  position: absolute;
  white-space: nowrap;
}
ul.slider-img{
  list-style-type: none;
}
li.lista-img{
  display: inline-block;
}
div.container{
  position: absolute;
  width: 300px;
  height: 400px;
  overflow: hidden;
}
